@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

.content {
    width: 90%;
    margin: auto;
    padding: 40px;
    display: flex;
}

.left-content,
.right-content {
    flex-basis: 50%;
}

.left-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 2rem;
}

.card {
    width: 300px;
    background-color: #607676;
    border-radius: 1rem;
    box-shadow: 0 5px 5px black;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.card img {
    display: inherit;
    width: 20%;
}

.abilities {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group{
    text-align: center;
    background-color: #2f8581;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
}